# Ignore Gradle project-specific cache directory
.gradle
gradle/
gradlew
gradlew.bat
settings.gradle

# Ignore Gradle build output directory
build

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/storage/*
!/storage/.keep

/node_modules
/yarn-error.log

/public/assets
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key
.docker/
.idea
.vscode
