[mysqld]
character-set-server=utf8
skip-character-set-client-handshake
sql_mode=NO_ENGINE_SUBSTITUTION

[client]
default-character-set=utf8
pager = less -n -i -S

[mysql]
default-character-set=utf8

[mysqldump]
default-character-set=utf8
